.lconsherra{
	width: 80%;
}
.detherraconsult{
	width: 90%;
}
.colnum{
	width: 4%;
}
.divtabproyherra{
margin-left: 2%;
margin-right: 2%;
}

.divtabherraproy{
margin-left: 2%;
margin-right: 2%;
}
.ldetherradev{
	width: 80%;
}
.btnsalirmodal{
	margin-top:25px;
	width:200px;
	height:50px;
	color:white;
	font-weight:bold;
}

.detherracompl{
	margin-left: 45%;
	margin-top: -60px;
	width: 50%;
	height:90%;
}

.newdev{
	margin-top: -60px;
	width: 95%;
	height: 96%;
}

.detguiagen{
	margin-top: -60px;
	width: 90%;
}

.lbldetguiagen{
	font-size: 20px;
	color: black;
}
.dlbl{
	font-size: 15px;
	color: black;
}

.modal{
	max-height: 100%;
}
.modal.bottom-sheet{
	max-height: 100%;
}
.lherraguia{
	width: 90%;
	height: 96%;
	margin-top:-60px;
}

.colst40{
	width: 40px;
}
.colst50{
	width: 50px;
}
.colst100{
	width: 100px;
}
.colst150{
	width: 150px;
}
.colst250{
	width: 250px;
}

.divbuscarguia{
	margin-left: 10%;
}
.newguia{
	width: 95%;
	height: 99%;
	margin-top: -75px;

}
.editguia{
	width: 95%;
	height: 98%;
	margin-top: -70px;
}
.editguiage{
	width: 95%;
	height: 98%;
	margin-top: -70px;
}

.newguiadev{
	height:85%;
	width:75%;
}

.btnaddguia{
	margin-left: 15px;
	margin-top: 20px;
}
table.tabla-guia{
	width: 98%;
	margin-left:20px;
	margin-right: 20px;
}
table.tabla-guiagene{
	width: 98%;
	margin-left:20px;
	margin-right: 20px;
}
table.tabla-guiaco{
	width: 98%;
	margin-left:20px;
	margin-right: 20px;
}

table.tabla-listdev{
	margin-left: 20px;
	margin-right: 20px;
	width: 98%;
}

thead.cab {
	background-color: #9e9e9e;
	color: white;
}


/*/////////////////////*/
#drop li{
    position: relative;
}

#drop li a{
	padding: 0px 30px 0px 10px;
	color: black;
	display: block;
}

#drop ul{
	left: 30px;
    width:155px;
    padding: 0px;

}

#drop ul li {
    border-bottom:1px solid #DDDDDD;
    height:35px;
}
#drop ul li .title {
    color:white;
    font: 13px/35px Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    border-bottom:1px solid #FFFFFF;
}

#drop ul{
    display: none;
    visibility:hidden;
    position: absolute;
    top: 0px;
}

#drop ul ul{
    top: 0px;
    right:170px;
    display: none;
    visibility:hidden;
    border: 1px solid #DDDDDD;
}

#drop ul li{
    display: block;
    visibility:visible;
}
#drop li:hover > ul{
    display: block;
    visibility:visible;
}

#drop li .litguia{
	background: #26a69a;
}
#drop ul .litguia:hover {
	background-color: #004d40;
}

#drop ul .litdet:hover {
	background-color: #0d47a1;
}
#drop li .litdet{
	background: #1976d2;
}


#drop li .litanul{
	background: #ef5350;
}
#drop li .litanul:hover{
	background: #e53935;
}

.tabs .tab a {
    background-color: #ffebee;
    border-radius: 20px 20px 0px 0px;
}

.tabs .tab a.active {
    background-color: #ffcdd2;
    border-radius: 20px 20px 0px 0px;
}

#divtipoacce{
	height:100px;
	width:350px;
	border:1px solid;
	background-color:#b2dfdb;
	border-color:#b2dfdb;
	border-radius:15px;
}