{% block script %}
    <script src="{{ MEDIA_URL }}js/mustache.js"></script>
{% endblock script %}

<div class="modal editcuent width-90">
      <div class="modal-content">
        <button type="button" name="btncuenta" data-cuenta="btnnewcuenta" class="btn waves-effect green lighten-1 btnnewcuenta">
                <i class="fa fa-credit-card"></i>
                <span>Nuevo</span>
        </button>
      <label class="idcuenta" name="idcuenta" id="idcuenta"></label>
        <table class="table-detailscuenta" id="tablecuenta" >
            <thead>
                <tr class="brand-primary">
                    <th class="colnumcuenta">Numero Cuenta</th>
                    <th>Tipo de Pago</th>
                    <th>Remuneracion</th>
                    <th>Gratificacion</th>
                    <th>CTS</th>
                    <th>Remuneracion por hora</th>
                    <th>Tipo de Contrato</th>
                    <th>Estado</th>
                    <th></th> 
                    <th></th> 
                    <th></th> 
                </tr>
            </thead>
            <tbody class="bodydetails" style="height:200px;"></tbody>
        </table>
        <div align="right" style="">
        <button style="margin-top:40px; width:200px;height:50px; background-color:black; color:white; font-weight:bold;" type="button" class="btn modal-action modal-close waves-effect waves-green blue lighten-1 btn-flat btnsalirmodal">SALIR</button>
        </div>
      </div>
</div>
{% csrf_token %}