{% extends "basemd.html" %}
{% block title %} Edit Purchase - {{ purchaseid }} {% endblock title %}
{% block menu %}
    {% include "menus/logisticsmd.htm" %}
{% endblock menu %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}vendor/chosen/chosen.css">
<section ng-app="app" ng-controller="ctrlpurchase as vm">
    <h4>Editar Orden de Compra {{ purchaseid }}</h4>
    <a href="" class="waves-effect btn-flat grey lighten-5 grey-text text-darken-3">
        <i class="fa fa-arrow-left"></i>
        <span class="hide-on-small-only">REGRESAR</span>
    </a>
    {% verbatim %}
    <div class="card-panel">
        <div class="row">
            <div class="col l6 m6 s12 input-field">
                <label for="supplier" class="active">PROVEEDOR</label>
                <select id="supplier" class="browser-default browser-default supplier">
                    <option value="">-- SELECCIONE --</option>
                </select>
            </div>
            <div class="col l6 m6 s12 input-field">
                <input type="text" name="dotarrival">
                <label for="dotarrival">Lugar de Entrega</label>
            </div>
            <div class="col l4 m4 s12 input-field">
                <label class="active" for="document">Documente de Pago</label>
                <select class="browser-default chosen-select documentpayment" name="document">
                    <option value="">-- SELECCIONE --</option>
                    <option value="{{x.pk}}" ng-repeat="x in vm.docpayment">{{x.fields.documento}}</option>
                </select>
            </div>

            <div class="col l4 m4 s12 input-field">
                <label class="active" for="method">Metodo de Pago</label>
                <select class="browser-default chosen-select methodpayment" name="method">
                    <option value="">-- SELECCIONE --</option>
                    <option value="" ng-repeat="x in vm.methodpayment"></option>
                </select>
            </div>

            <div class="col l4 m4 s12 input-field">
                <label class="active" for="currency">Moneda</label>
                <select class="browser-default chosen-select currency" name="currency" >
                    <option value="">-- SELECCIONE --</option>
                    <option value="" ng-repeat="x in vm.currency"></option>
                </select>
            </div>
        </div>
    </div>
    {% endverbatim %}
</section>
<!-- block scripts -->
<script defer src="{{MEDIA_URL}}vendor/chosen/chosen.jquery.js"></script>
<script defer src="{{MEDIA_URL}}vendor/angularjs/angular.min.js"></script>
<script defer src="{{MEDIA_URL}}vendor/angular-cookies/angular-cookies.min.js"></script>
<script defer src="{{MEDIA_URL}}js/logistics/purchaseedit.js"></script>
{% endblock content %}