{% extends "basemd.html" %}
{% block title %} Edit Purchase - {{ purchaseid }} {% endblock title %}
{% block menu %}
    {% include "menus/logisticsmd.htm" %}
{% endblock menu %}
{% block content %}
<section ng-app="app" ng-controller="ctrlpurchase as vm">
    <h4>Editar Orden de Compra {{ purchaseid }}</h4>
    {% verbatim %}
    <h1>{{ vm.name }}</h1>
    <input type="button" name="" value="Click me!" ng-click="vm.getBedside()">
    <h3>{{ vm.purchaseid }}</h3>
    <ul>
        <li ng-repeat="x in heroes">{{x}}</li>
    </ul>
    {% endverbatim %}
</section>
<!-- block scripts -->
<script src="{{MEDIA_URL}}vendor/angularjs/angular.min.js"></script>
<script src="{{MEDIA_URL}}vendor/angular-cookies/angular-cookies.min.js"></script>
<script src="{{MEDIA_URL}}js/logistics/purchaseedit.js"></script>
{% endblock content %}