{% block script %}
    <script src="{{ MEDIA_URL }}js/mustache.js"></script>
{% endblock script %}

<div class="modal detguiagen">
      <div class="modal-content">
        <label class="lbldetguiagen">Proyecto: </label><label class="dnameproy dlbl" style="margin-left:80px;"></label>
        </br>
        <label class="lbldetguiagen">Supervisor: </label><label class="dsupervisor dlbl" style="margin-left:60px;"></label>
        </br>
        <label class="lbldetguiagen">P. de Llegada: </label><label class="dlleg dlbl" style="margin-left:40px;"></label>
        </br>
        <label class="lbldetguiagen">Destinatario: </label><label class="ddest dlbl" style="margin-left:50px;"></label>
        </br>
        <label class="lbldetguiagen">Numero Guia: </label><label class="dnumguia dlbl" style="margin-left:40px;"></label>
        </br>
        <label class="lbldetguiagen">Fecha de Salida: </label><label class="dfsalid dlbl" style="margin-left:20px;"></label>
        </br>
        <label class="lbldetguiagen">Transportista: </label><label class="dtransp dlbl" style="margin-left:40px;"></label>
        </br>
        <label class="lbldetguiagen">Conductor: </label><label class="dconduc dlbl" style="margin-left:65px;"></label>
        </br>
        <label class="lbldetguiagen">Numero Placa: </label><label class="dnumplaca dlbl" style="margin-left:30px;"></label>
        </br>
        <label class="lbldetguiagen">Obs.: </label><label class="dcoment dlbl" style="margin-left:115px;"></label>
        </br>
        <hr>
          <table class="table-dguiagene" id="table-dguiagene" >
              <thead class="cab">
                  <tr class="brand-primary">
                      <th class="colnum">#</th>
                      <th>Codigo</th>
                      <th>Herramienta</th>
                      <th>Enviado</th>
                      <th>Estado</th>
                      <th>F.Devolucion</th>
                  </tr>
              </thead>
              <tbody class="bodydguiagene" style="height:270px;"></tbody>
          </table>
          <div align="right" style="">
          <button type="button" class="btn modal-action modal-close waves-effect waves-black blue lighten-1 btn-flat btnsalirmodal">
          <i class="fa fa-times"></i><span>SALIR</span>
          </button>
          </div>
      </div>
</div>



<!--DETALLE HERRAMIENTAS COMPLETAS-->
<div class="modal detherracompl">
  <div class="modal-content">
    <table class="table-detherrac" id="table-detherrac">
        <thead class="cab">
            <tr class="brand-primary">
                <th class="colnum">#</th>
                <th>Herramienta</th>
                <th>Enviado</th>
            </tr>
        </thead>
        <tbody class="bodydetherracomp"></tbody>
    </table>
    <div align="right">
    <button type="button" class="btn modal-action modal-close waves-effect waves-black blue lighten-1 btn-flat btnsalirmodal">
    <i class="fa fa-times"></i>
    SALIR
    </button>
    
    </div>
  </div>
</div>
{% csrf_token %}