{% block script %}
    <script src="{{ MEDIA_URL }}js/mustache.js"></script>
{% endblock script %}

<div class="modal detherraconsult">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <h6 class="titproyherra" style="font-weight: bold;"></h6>
            </div>
            <div class="input-field col s12">
                <h6 class="titherra" style="font-weight: bold;"></h6>
            </div>
        </div>
        <div style="overflow-y:scroll;height:400px">
            <table class="table table-condensed responsive-table highlight table-detherraconsult" id="table-detherraconsult" >
                <thead class="cab">
                    <tr>
                        <th class="colst40">#</th>
                        <th class="colst150">Guia</th>
                        <th class="colst150">F.Registro</th>
                        <th class="colst150">F.Salida</th>
                        <th>Herramienta</th>
                        <th class="colst150">Marca</th>
                        <th class="colst100">Cantidad</th>
                        <th>Estado</th>
                        <th class="colst150">F.Devolucion</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div align="right" style="">
        <button type="button" class="btn modal-action modal-close waves-effect waves-green blue lighten-1 btn-flat btnsalirmodal">
        <i class="fa fa-times"></i>
        <span><strong>SALIR</strong></span>
        </button>
        </div>
    </div>
</div>