{% block script %}
    <script src="{{ MEDIA_URL }}js/mustache.js"></script>
{% endblock script %}

<div class="modal editguiage" >
    <div class="modal-content">

    <div class="row">
      <div class="input-field col s6" readonly>
        <input readonly placeholder="" type="text" class="editgenumguia">
        <label for="editgenumguia" >NUMERO DE GUIA</label>
      </div>

      <div class="input-field col s6" style="margin-top:30px;">
        <select id="cboeditgeproy" class="browser-default">
          <option value="">Sin Proyecto</option>
            {% for x in lproyectos %}
          <option value="{{ x.proyecto_id }}">{{ x.proyecto_id }} {{ x.nompro }}</option>
            {% endfor %}
        </select>
        <h6 for="cboeditgeproy" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">PROYECTO</h6>
      </div>

    </div>
    <div class="row">

      <div class="input-field col s3">
        <select id="cboeditgetransp" class="browser-default">
        {% for x in ltransportista %}
          <option value="{{ x.traruc_id }}">{{ x.tranom }}</option>
        {% endfor %}
        </select>
        <h6 for="cboeditgetransp" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">TRANSPORTISTA</h6>
      </div>

      <div class="input-field col s3">
        <select id="cboeditgecond" class="browser-default">
        {% for x in lconductor %}
          <option value="{{ x.condni_id }}">{{ x.connom }}</option>
        {% endfor %}
        </select>
        <h6 for="cboeditgecond" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">CONDUCTOR</h6>
      </div>

      <div class="input-field col s3">
        <select id="cboeditgeplaca" class="browser-default">
        {% for x in ltransporte %}
          <option value="{{ x.nropla_id }}">{{ x.nropla_id }} {{ x.marca }}</option>
        {% endfor %}
        </select>
        <h6 for="cboeditgeplaca" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">PLACA</h6>
      </div>
      <div class="input-field col s3">
        <input placeholder="" type="date" name="fsaleditge" class="picker fsaleditge">
        <label for="fsaleditge">Fecha de Salida</label>
      </div>
    </div>
    <div class="row" style="margin-top:60px">
        <div class="input-field col s6">
          <textarea placeholder="" name="txtcomeditge" class="materialize-textarea txtcomeditge" maxlength="200" length="200"></textarea>
          <label for="txtcomeditge">COMENTARIO</label>
        </div>
        <div class="input-field col s6" style="margin-top:60px;">
        <button type="button" class="btn waves-effect green lighten-1 btnsaveeditguiage">
          <i class="fa fa-floppy-o"></i>
          <span><strong>GUARDAR CAMBIOS</strong></span>
        </button>
      </div>
    </div>
    <hr>
    <div style="overflow-y:scroll;height:360px">
      <table class="table table-condensed highlight responsive-table table-detguiageedit" id="table-detguiageedit">
          <thead class="cab">
              <tr>
                  <th class="colst40">#</th>
                  <th class="colst150">CODIGO</th>
                  <th ><h6 class="lbltipoacce" style="font-weight:bold"></h6></th>
                  <th class="colst100">CANTIDAD</th>
                  <th >ESTADO</th>
                  <th class="colst150">F.DEVOLUCION</th>
                  <th class="colst100">ACCIONES</th>
              </tr>
          </thead>
          <tbody></tbody>
      </table>
    </div>
    <div align="right">
      <button type="button" class="modal-action modal-close btn waves-effect grey lighten-5 grey-text text-darken-3">
        <i class="fa fa-times"></i>
        <span>Salir</span>
      </button>
    </div>
  </div>

</div>

