{% block script %}
    <script src="{{ MEDIA_URL }}js/mustache.js"></script>
{% endblock script %}

<div class="modal editguia" >
    <div class="modal-content">

    <div class="row">
      <div class="input-field col s6" readonly>
        <input readonly placeholder="" id="editnumguia" name="editnumguia" type="text" class="editnumguia" length="12" >
        <label for="editnumguia" >NUMERO DE GUIA</label>
      </div>

      <div class="input-field col s6">
        <select id="comboeditproyecto" class="browser-default comboeditproyecto">
          <option value="">Sin Proyecto</option>
            {% for x in lproyectos %}
          <option value="{{ x.proyecto_id }}">{{ x.proyecto_id }} {{ x.nompro }}</option>
            {% endfor %}
        </select>
        <h6 for="comboeditproyecto" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">PROYECTO</h6>
      </div>

    </div>
    <div class="row">
      <div class="input-field col s3">
        <select id="comboedittransportista" class="browser-default comboedittransportista">
        {% for x in ltransportista %}
          <option value="{{ x.traruc_id }}">{{ x.tranom }}</option>
        {% endfor %}
        </select>
        <h6 for="comboedittransportista" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">TRANSPORTISTA</h6>
      </div>

      <div class="input-field col s3">
        <select id="comboeditconductor" class="browser-default comboeditconductor">
          {% for x in lconductor %}
            <option value="{{ x.condni_id }}">{{ x.connom }}</option>
          {% endfor %}
        </select>
        <h6 for="comboeditconductor" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">CONDUCTOR</h6>
      </div>

      <div class="input-field col s3">
        <select id="comboeditplaca" class="browser-default comboeditplaca">
          {% for x in ltransporte %}
          <option value="{{ x.nropla_id }}">{{ x.nropla_id }} {{ x.marca }}</option>
          {% endfor %}
        </select>
        <h6 for="comboeditplaca" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">PLACA</h6>
      </div>

        <div class="input-field col s3">
          <input placeholder="" id="fguiasalidaedit" name="fguiasalidaedit" type="date" class="trfecha fguiasalidaedit">
          <label for="fguiasalidaedit">FECHA DE SALIDA</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <textarea placeholder="" id="txtcomentguiaedit" name="txtcomentguiaedit" class="materialize-textarea txtcomentguiaedit" length="200" maxlength="200"></textarea>
        <label for="txtcomentguiaedit">COMENTARIO</label>
      </div>
      <div class="input-field col s2" style="margin-top:60px;">
        <button type="button" name="btnsaveguiafinedit" class="btn waves-effect green lighten-1 btnsaveguiafinedit">
          <i class="fa fa-floppy-o"></i>
          <span><strong>GUARDAR CAMBIOS</strong></span>
        </button>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="input-field col">
        <button type="button" name="btnaddguiaherraedit" class="btn waves-effect teal lighten-1 btnaddguiaherraedit">
          <i class="fa fa-briefcase"></i>
          <span><strong>NUEVA </strong><strong class="lbltipoacce"></strong></span>
        </button>
      </div>
      <div class="input-field col">
        <button type="button" class="btn btnopeneditdownxls">
          <i class="fa fa-file-excel-o"></i>
          <span><strong>Leer Formato excel</strong></span>
        </button>
      </div>
      <div class="input-field col" style="background-color:#C94540;border-radius:5px;">
        <h6 style="font-weight:bold;color:white">! Maximo 15 Items !</h6>
      </div>
      <div class="input-field col s6">
        <i class="prefix fa fa-search"></i>
        <input class="txtbuscarheedit" style="height:30px;" type="text" placeholder="Codigo" name="txtbuscarheedit" id="txtbuscarheedit" >
      </div>
    </div>

    <hr>
    <div style="overflow-y: scroll;height:270px;">
      <table class="table responsive-table highlight table-condensed table-detailsguiaherraedit" id="table-detailsguiaherraedit">
          <thead class="cab">
              <tr>
                  <th class="colst40">#</th>
                  <th>GRUPO</th>
                  <th class="colst150">CODIGO</th>
                  <th ><h6 style="font-weight:bold" class="lbltipoacce"></h6></th>
                  <th class="colst100">CANTIDAD</th>
                  <th >ESTADO</th>
                  <th class="colst150">F.DEVOLUCION</th>
                  <th class="colst150">ACCIONES</th>
              </tr>
          </thead>
          <tbody style=""></tbody>
      </table>
    </div>
    <div align="right">
      <button type="button" class="modal-action modal-close btn waves-effect grey lighten-5 grey-text text-darken-3">
        <i class="fa fa-times"></i>
        <span>Salir</span>
      </button>
    </div>
  </div>

</div>