{% block script %}
    <script src="{{ MEDIA_URL }}js/mustache.js"></script>
{% endblock script %}

<div class="modal ldetherradev">
    <div class="modal-content">
        <table class="table-detherradev" id="table-detherradev" >
            <thead class="cab">
                <tr class="brand-primary">
                    <th class="colnum">#</th>
                    <th>Herramienta</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="bodydetherradev" style="height:500px;"></tbody>
        </table>
        <div align="right" style="">
        <button type="button" class="btn modal-action modal-close waves-effect waves-green blue lighten-1 btn-flat btnsalirmodal">
            <i class="fa fa-times"></i>
            <span><strong>SALIR</strong></span>
        </button>
        </div>
    </div>
</div>

<div class="modal editherradev">
    <div class="modal-content">
        <div style="display:none;">
            <label class="idhedev"></label>
            <label class="iddocu"></label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <h5 class="titherradev"></h5>    
            </div>
            
        </div>
        <div class="row">
            <div class="input-field col s0">
                <h6>CANTIDAD: </h6>
            </div>
            <div class="input-field col s4">
                <h6 class="titcanthedev"></h6>
            </div>
            <div class="input-field col s0">
                <h6># Guia: </h6>
            </div>
            <div class="input-field col s4">
                <h6 class="iddev"></h6>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <input placeholder="" id="cantherradev" name="cantherradev" type="text" class="cantherradev">
            <label for="cantherradev" >CANTIDAD</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s0">
            <p>Estado:</p>
          </div>
          <div class="input-field col s6" id="comboestherradev">
            <select id="comboestherradev" class="browser-default comboestherradev">  
              <option value="BUENO">Bueno</option>
              <option value="REPARACION">Reparacion</option>
              <option value="BAJA">De Baja</option>
            </select>                 
          </div>
        </div>
      <div class="moda-footer" align="center" style="margin-top:50px;">
        <button type="button" class="modal-action modal-close btn waves-effect grey lighten-5 grey-text text-darken-3">
          <i class="fa fa-times"></i>
          <span>Cancelar</span>
        </button>
        <button type="button" class="btn waves-effect green lighten-1 btnsaveeditherradev">
        <i class="fa fa-floppy-o"></i>
          <span><strong>Guardar</strong></span>
        </button>
      </div>

    </div>
</div>