{% block script %}
    <script src="{{ MEDIA_URL }}js/mustache.js"></script>
{% endblock script %}

<div class="modal lconsherra">
    <div class="modal-content">
    <h6>Seleccione una herramienta</h6>
        <div style="overflow-y:scroll;height:500px">
            <table class="table table-condensed highlight responsive-table table-lconsherra" id="table-lconsherra" >
                <thead class="cab">
                    <tr>
                        <th class="colst40">#</th>
                        <th >Herramienta</th>
                        <th class="colst150">Medida</th>
                        <th class="colst150">Marca</th>
                        <th class="colst100"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div align="right" style="">
        <button type="button" class="btn modal-action modal-close waves-effect waves-green blue lighten-1 btn-flat btnsalirmodal">
        <i class="fa fa-times"></i>
        <span>SALIR</span>
        </button>
        </div>
    </div>
</div>