<div class="modal newguia" >
    <div class="modal-content">
    <div class="row">
      <div class="input-field col s3" id="divnumguia">
        <input placeholder="" id="numguia" name="numguia" type="text" class="numguia" maxlength="12" length="12"/>
        <label for="numguia" >NUMERO DE GUIA</label>
      </div>
      <div class="input-field col s8">
        <select id="comboproyecto" class="browser-default comboproyecto">
          <option value="">Sin Proyecto</option>
            {% for x in lproyectos %}
          <option value="{{ x.proyecto_id }}">{{ x.proyecto_id }} {{ x.nompro }}</option>
            {% endfor %}
        </select>
        <h6 for="comboproyecto" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">PROYECTO</h6>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <select id="combotransportista" class="browser-default combotransportista">
          <option value=""></option>
        {% for x in ltransportista %}
          <option value="{{ x.traruc_id }}">{{ x.tranom }}</option>
        {% endfor %}
        </select>
        <h6 for="combotransportista" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">TRANSPORTISTA</h6>
      </div>

      <div class="input-field col s3">
        <select id="comboconductor" class="browser-default comboconductor">
        </select>
        <h6 for="comboconductor" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">CONDUCTOR</h6>
      </div>

      <div class="input-field col s3">
        <select id="comboplaca" class="browser-default comboplaca">
        </select>
        <h6 for="comboplaca" style="color:#0091ea;margin-top:-45px;font-size:0.8rem">PLACA</h6>
      </div>

      <div class="input-field col s3">
        <input placeholder="" id="fguiasalida" name="fguiasalida" type="date" class="trfecha fguiasalida">
        <label for="fguiasalida">FECHA DE SALIDA</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <textarea placeholder="" id="txtcomentguia" name="txtcomentguia" class="materialize-textarea txtcomentguia" length="200" maxlength="200"></textarea>
        <label for="txtcomentguia">COMENTARIO</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col" id="divnewherra">
        <button type="button" name="btnaddguiaherra" data-guiaherra="btnaddguiaherra" class="btn waves-effect teal lighten-1 btnaddguiaherra">
          <i class="fa fa-briefcase"></i>
          <span><strong>NUEVA <strong class="lbltipoacce"></strong></strong></span>
        </button>
      </div>
      <div class="input-field col">
        <button type="button" class="btn btnopendownxls">
          <i class="fa fa-file-excel-o"></i>
          <span><strong>Leer Formato excel</strong></span>
        </button>
      </div>
      <div class="input-field col" style="background-color:#C94540;border-radius:5px;">
        <h6 style="font-weight:bold;color:white">! Maximo 15 items !</h6>
      </div>
      <div class="input-field col s6" align="right">
        <button type="button" name="saveguiafin" class="btn waves-effect green lighten-1 saveguiafin">
          <i class="fa fa-floppy-o"></i>
          <span><strong>GUARDAR GUIA</strong></span>
        </button>
      </div>
    </div>

    <div style="overflow-y:scroll;height:300px">
      <table class="table table-condensed highlight responsive-table table-detailsguiaherra" id="table-detailsguiaherra">
          <thead class="cab">
              <tr>
                  <th class="colst40">#</th>
                  <th class="colst200">GRUPO</th>
                  <th class="colst150">CODIGO</th>
                  <th ><h6 class="lbltipoacce" style="font-weight:bold"></h6></th>
                  <th class="colst150">MARCA</th>
                  <th class="colst150">CANTIDAD</th>
                  <th class="colst200">ESTADO</th>
                  <th class="colst150">F.DEVOLUCION</th>
                  <th class="colst150">ACCIONES</th>
              </tr>
          </thead>
          <tbody></tbody>
      </table>
    </div>
    <div align="right">
      <button type="button" class="modal-action modal-close btn red ">
          <i class="fa fa-times"></i>
          <span>Salir</span>
      </button>
    </div>
  </div>
</div>

<div class="modal moddownxls" style="width:30%">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col">
        <button type="button" class="transparent btndownxlshe" style="border:none;color:#039be5">
          <i class="fa fa-download"></i>
          <span>Descargar Plantilla</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <div class="file-field input-field">
          <button type="button" class="btn transparent" style="border:none;color:#26a69a">
            <i class="fa fa-upload"></i>
            <input type="file" name="readherra">
          </button>
          <div class="file-path-wrapper">
            <input class="file-path validate txtfile" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="moda-footer" align="center">
      <button type="button" class="btn btncargarhexls">
          <i class="fa fa-floppy-o"></i>
          <span><strong>Leer</strong></span>
      </button>
      <button type="button" class="modal-action modal-close btn red">
        <i class="fa fa-times"></i>
        <span><strong>Salir</strong></span>
      </button>
    </div>
  </div>
</div>