{% extends "basemd.html" %}

{% block title %}
  Resultados
{% endblock %}
{% block menu %}
  {% include "menus/storagemd.htm" %}
{% endblock %}
{% block content %}
<script src="/media/js/almacen/guiaherramienta.js"></script>
<link rel="stylesheet" href="/media/css/almacen/guiaherramienta.css">

<div style="margin-left:25%;width:50%;">
	<h2>Carga de Herramientas Exitosa!</h2>
	<ul>
	<hr>
	</br>
	{% if lisherra != "" %}
	<label><h5 style="align:center;">Herramientas que anteriormente ya se habia cargado:</h5></label>
	{% for x in lisherra %}
	<li><label>* {{ x.hc }} - {{ x.hn }} - {{ x.hm }}
	</label></li>
	{% endfor %}
	{% endif %}
	</ul>
</div>

{% csrf_token %}
{% endblock %}