{% extends "basemd.html" %}

{% block title %}
  Resultados
{% endblock %}
{% block menu %}
  {% include "menus/storagemd.htm" %}
{% endblock %}
{% block content %}
<script src="/media/js/almacen/guiaherramienta.js"></script>
<link rel="stylesheet" href="/media/css/almacen/guia.css">

<div style="text-align:center">
	<h2>Carga de {{tipoacce}} Exitosa!</h2>
	<button type="button" class="transparent btnregrcarga" style="border:none;">
	<a style="font-size:80px;">
	<i class="fa fa-arrow-circle-left"></i>
	</a>
	</button>
</div>

{% csrf_token %}
{% endblock %}