{% extends "basemd.html" %}
{% block title %}
    Manage Materials
{% endblock title %}
{% block menu %}
    {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
        {% include "menus/salesmd.html" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'logistica' %}
        {% include "menus/logistics.htm" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'operaciones' %}
        {% include "menus/operationsmd.htm" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'almacen' %}
        {% include "menus/storagemd.htm" %}
    {% endif %}
{% endblock menu %}
{% block content %}
<section ng-app="app" ng-controller="ControllerMaterials as vm">
    <header>
        <aside class="card-panel">
            <h5><i class="fa fa-bars"></i> Materiales</h5>
            <strong><i class="fa fa-search"></i> Busqueda de Materiales</strong>
            <div class="row">
                <div class="col s12 m3 l2">
                    <div class="input-field">
                        <input type="text" maxlength="15" name="searchCode" class="form-control">
                        <label class="control-label">Código</label>
                    </div>
                </div>
                <div class="col s12 m9 l10">
                    <div class="input-field">
                        <input type="text" name="searchDesc" class="form-control">
                        <label class="control-label">Descripción</label>
                    </div>
                </div>
            </div>
            {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
                <button class="waves-effect waves-light btn light-green grey-text text-darken-3" ng-click="vm.blockmaterials=!vm.blockmaterials">
                    <i class="fa fa-plus"></i>
                    <span class="hide-on-small-only">Nuevo Material</span>
                </button>
            {% endif %}
            <div class="card" ng-show="vm.blockmaterials">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m2 l2">
                            <div class="input-field">
                                <input type="text" maxlength="15" name="materials" placeholder="Codigo">
                                <label class="control-label">Código</label>
                            </div>
                        </div>
                        <div class="col s12 m5 l5">
                            <div class="input-field">
                                <input type="text" name="matnom" placeholder="Descripción">
                                <label class="control-label">Descripción</label>
                            </div>
                        </div>
                        <div class="col s12 m5 l5">
                            <div class="input-field">
                                <input type="text" name="matmed" placeholder="Diametro">
                                <label class="control-label">Diametro</label>
                            </div>
                        </div>
                        <div class="col s12 m2 l2">
                            <div class="input-field">
                                <input type="text" name="matacb" placeholder="Acabado">
                                <label class="control-label">Acabado</label>
                            </div>
                        </div>
                        <div class="col s12 m2 l2">
                            <div class="input-field">
                                <input type="number" step="0.10" name="matare" class="right-align" placeholder="Area">
                                <label class="control-label">Area</label>
                            </div>
                        </div>
                        <div class="col s12 m2 l2">
                            <div class="input-field">
                                <input type="number" step="0.10" name="metweight" class="right-align" placeholder="Peso">
                                <label class="control-label">Peso</label>
                            </div>
                        </div>
                        <div class="col s12 m2 l2 input-field">
                            <label class="active">Unidad</label>
                            <select class="browser-default" name="unidad" placeholder="Unidad">
                                {% for x in unidad %}
                                    <option value="{{ x.unidad_id }}">{{ x.uninom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col s12 m3 l3">
                            <div class="input-field">
                                <!-- <label class="active">Guardar Materiales</label>
                                <br> -->
                                <button type="button" class="waves-effect waves-light btn btn-save-material light-blue pulse">
                                    <i class="fa fa-save fa-2x"></i>
                                    <span class="hide-on-small-only">Guardar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </header>
    <section>
        <div class="row">
            <div class="col s12 m12 l12">
                <table class="table highlight responsive-table">
                    <thead>
                        <tr class="light-blue accent-4">
                            <th class="center-align col-1">
                                <a href="#!pageup" class="btn-top-page grey-text text-darken-3">
                                    <i class="fa fa-angle-double-up"></i>
                                </a>
                            </th>
                            <th class="center-align col-2">Código</th>
                            <th class="left-align">Descripción</th>
                            <!-- <th class="center-align">Diametro</th> -->
                            <th class="col-2 center-align">Unidad</th>
                            <th class="col-3 center-align">Acabado</th>
                            {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
                            <th class="col-2 center-align">Area</th>
                            <th class="col-2 center-align">Peso</th>
                            <th class="col-1 center-align"></th>
                            <th class="col-1 center-align"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in materials %}
                        <tr>
                            <td class="center-align">{{ forloop.counter }}</td>
                            <td class="center-align"><small>{{ x.materiales_id }}</small></td>
                            <td><small>{{ x.matnom }} - {{ x.matmed }}</small></td>
                            <td class="center-align">{{ x.unidad.uninom }}</td>
                            <td class="center-align">{{ x.matacb }}</td>
                            {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
                            <td class="right-align">{{ x.matare }}</td>
                            <td class="right-align">0</td>
                            <td class="center-align">
                                <a href="#!pencil" value="{{ x.materiales_id }}" class="blue-text" data-des="{{ x.matnom }}" data-met="{{ x.matmed }}" data-unit="{{ x.unidad_id }}" data-acb="{{ x.matacb }}" data-area="{{ x.matare }}" name="btnedit">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            </td>
                            <td class="center-align">
                                <a href="#!trash" class="red-text" data-name="{{ x.matnom }}" data-measure="{{ x.matmed }}" value="{{ x.materiales_id }}" name="btndel">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
<!-- block modal -->
<div class="modal fade meditmat">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4 class="text-bold">Editar Material</h4>
            </div>
            <div class="modal-body">
                <div class="form-group has-warning">
                    <div class="form-group">
                        <label class="input-field">
                        <input type="text" name="ematnom">
                    </div>
                </div>
                <div class="form-group has-warning">
                    <div class="form-group">
                        <label class="input-field">
                        <input type="text" name="ematmed">
                    </div>
                </div>
                <div class="form-group has-warning">
                    <div class="form-group">
                        <label class="input-field">
                        <select name="eunidad">
                            {% for x in unidad %}
                                <option value="{{ x.unidad_id }}">{{ x.uninom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group has-warning">
                    <div class="form-group">
                        <label class="input-field">
                        <input type="text" name="ematacb">
                    </div>
                </div>
                <div class="form-group has-warning">
                    <div class="form-group">
                        <label class="input-field">
                        <input type="text" name="ematare">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-sm btn-default pull-left">
                    <span class="fa fa-times"></span>
                    Cancelar
                </button>
                <button class="btn btn-sm btn-warning text-black btn-save-edit">
                    <span class="fa fa-save"></span>
                    Guardar Cambios
                </button>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<!-- block script -->
<script defer src="{{MEDIA_URL}}vendor/chosen/chosen.jquery.js"></script>
<script defer src="{{MEDIA_URL}}vendor/angular/angular.min.js"></script>
<script defer src="{{MEDIA_URL}}vendor/angular-cookies/angular-cookies.min.js"></script>
<!-- <script defer src="{{MEDIA_URL}}vendor/trumbowyg/dist/trumbowyg.min.js"></script> -->
<script defer src="{{ MEDIA_URL }}js/home/materials.js"></script>
{% endblock content %}