{% extends "base.html" %}
{% block menu %}
    {% include "menus/sale.htm" %}
{% endblock menu %}
{% block content %}
    <div class="container">
        <div class="well">
            <h1>Unidades</h1>
            <div class="panel panel-primary">
                <div class="btn-group">
                    <a href="{% url 'unit_add' %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                        Nueva Unidad
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-condensed">
                        <thead>
                            <tr class="brand-primary">
                                <th>Item</th>
                                <th>Marca</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in listunits %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ x.uninom }}</td>
                                <td>
                                    <a href="{% url 'unit_edit' x.unidad_id %}" class="btn btn-xs btn-link text-green">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'unit_del' x.unidad_id %}" class="btn btn-xs btn-link text-red">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}