{% extends "basemd.html" %}
{% block title %} List Employee{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}vendor/chosen/chosen.css">
{% endblock %}
{% block menu %}
  {% include "menus/rrhhmd.html" %}
{% endblock menu %}
{% block content %}
<section ng-app="appList" ng-controller="ctrlList as vm">
  <header>
    <h4>
      Empleados
    </h4>
  </header>
  <article class="card">
    <div class="card-content">
      <div class="input-field">
        <i class="fa fa-filter prefix"></i>
        <input type="text" id="search" placeholder="Ingrese un nombre" ng-model="vm.search">
        <label for="search">Filtar Empleados</label>
      </div>
    </div>
  </article>
  <aside class="card-panel">
    <table class="table highlight hovered responsive-table">
      <thead class="lime">
        <tr>
          <th>#</th>
          <th ng-click="vm.orderlist('id')">ID <i class="right fa" ng-class="{'fa-sort-numeric-asc': vm.order == 'pk', 'fa-sort-numeric-desc': vm.order == '-pk'}"></i></th>
          <th ng-click="vm.orderlist('lastname')">Descripción <i class="right fa" ng-class="{'fa-sort-alpha-asc': vm.order == 'fields.lastname', 'fa-sort-alpha-desc': vm.order == '-fields.lastname'}"></i></th>
          <th ng-click="vm.orderlist('cargo')">Cargo <i class="right fa" ng-class="{'fa-sort-alpha-asc': vm.order == 'fields.charge.fields.cargos', 'fa-sort-alpha-desc': vm.order == '-fields.charge.fields.cargos'}"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% verbatim %}
        <tr ng-repeat="x in vm.list | filter: vm.search | orderBy: vm.order">
          <td>{{$index+1}}</td>
          <td>{{x.pk}}</td>
          <td>{{x.fields.lastname}} {{x.fields.firstname}}</td>
          <td>{{x.fields.charge.fields.cargos}}</td>
          <td>
            <a href="#!assistance" ng-click="vm.openAssistance(x)" class="grey-text text-darken-2">
              <i class="fa fa-calendar"></i></a>
          </td>
        </tr>
        {% endverbatim %}
      </tbody>
    </table>
  </aside>
  <!-- modals -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      {% verbatim %}
      <strong>
        REGISTRAR ASISTENCIA: {{vm.assistance.name}} -
        <small>{{vm.assistance.dni}}</small>
      </strong>
      {% endverbatim %}
      <div class="row">
        <div class="col l12 m12 s12">
          <label for="project">Proyecto</label>
          <select class="browser-default chosen-select" name="project" id="project" ng-model="vm.assistance.project" ng-options="x.pk as x.fields.nompro for x in vm.lprojects">
            <option value="">-- NINGUNO --</option>
          </select>
          <a href="#!refresh" class="right" ng-click="vm.listProject()"><i class="fa fa-refresh"></i></a>
        </div>
        <div class="col l12 m12 s12">
          <label for="types">Tipo de Asistencia</label>
          <select class="browser-default" id="types" ng-model="vm.assistance.type" ng-options="x.pk as x.fields.description for x in vm.ltypes" readonly="True">
            <option value="">-- SELECCIONE OBLIGATORIO --</option>
          </select>
          <a href="#!refresh" class="right" ng-click="vm.listtype()"><i class="fa fa-refresh"></i></a>
        </div>
        <div class="input-field col l6 m6 s12">
          <input type="text" maxlength="5" formattime ng-model="vm.assistance.hin" placeholder="00:00" id="hin">
          <label for="hin">Hora Entrada</label>
        </div>
        <div class="input-field col l6 m6 s12">
          <input type="text" maxlength="5" formattime ng-model="vm.assistance.hinb" placeholder="00:00" id="hinbr">
          <label for="hinbr">Inicio Receso</label>
        </div>
        <div class="input-field col l6 m6 s12">
          <input type="text" maxlength="5" formattime ng-model="vm.assistance.houtb" placeholder="00:00" id="houtbr">
          <label for="houtbr">Fin Receso</label>
        </div>
        <div class="input-field col l6 m6 s12">
          <input type="text" maxlength="5" formattime ng-model="vm.assistance.hout" placeholder="00:00" id="hout">
          <label for="hout">Hora Salida</label>
        </div>
        <div class="input-field col l6 m6 s12">
          <input type="text" id="today" class="datepicker" maxlength="10" placeholder="aaaa-mm-dd" ng-model="vm.assistance.date" readonly="True">
          <label for="today">Fecha</label>
        </div>
        <div class="input-field col l6 m6 s12">
          <input type="number" min="0" class="right-align" placeholder="0" ng-model="vm.assistance.viatical" valminandmax>
          <label for="">Viaticos</label>
        </div>
      </div><!-- end row -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn blue" ng-click="vm.saveAssistance()">
        <i class="fa fa-floppy-o"></i>
        <span class="hide-on-small-only">GUARDAR</span>
      </button>
      <button type-button="" class="modal-action modal-close btn grey lighten-5 grey-text text-darken-2">
        <i class="fa fa-times"></i>
        <span class="hide-on-small-only">Salir</span>
      </button>
    </div>
  </div>
</section>
<!-- scripts -->
<script defer src="{{ MEDIA_URL }}vendor/angular/angular.min.js"></script>
<script defer src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script defer src="{{ MEDIA_URL }}vendor/chosen/chosen.jquery.js"></script>
<script defer src="{{ MEDIA_URL }}js/directives.js"></script>
<script defer src="{{ MEDIA_URL }}js/rrhh/listemployee.js"></script>
{% endblock content %}