{% extends "basemd.html" %}
{% block menu %}
    {% include "menus/rrhhmd.html" %}
{% endblock menu %}
{% block content %}
<section ng-app="lapp" ng-controller="ctrload as vm">
    <header>
        <h3> <i class="fa fa-calendar-check-o"></i> Cargar Tareo</h3>
    </header>
    <article class="card">
        <div class="card-action right-align">
            <button type="button" class="btn red" ng-click="vm.loadfiles()" ng-disabled="vm.lock" disabled="true" availablefile>
                <i class="fa fa-cloud-upload fa-lg"></i>
                <span class="hide-on-small-only">CARGAR LOS DATOS</span>
            </button>
        </div>
        <div class="card-content">
            <div class="file-field input-field">
                <div class="btn blue" ng-disabled="vm.lock">
                    <i class="fa fa-file-excel-o"></i>
                    <span>SELECCIONAR TAREO(s)</span>
                    <input type="file" id="tareo">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
    </article>
    <div class="card-panel">
        <strong>Estadisticas: Total Registros {{ vm.log.raises.length }}</strong>
        {% verbatim %}
        <table class="table responsive-table highlight hovered">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in vm.log.raises">
                    <td>{{$index + 1}}</td>
                    <td>{{x}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        {% endverbatim %}
    </div>
</section>

<!-- Scripts -->
<script defer src="{{ MEDIA_URL }}vendor/angularjs/angular.min.js"></script>
<script defer src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script defer src="{{ MEDIA_URL }}js/rrhh/loadassistance.js"></script>
{% endblock content %}