{% extends "basemd.html" %}
{% block title %}
    Tipo de empleado
{% endblock title %}
{% block menu %}
    {% include "menus/salesmd.html" %}
{% endblock menu %}
{% block content %}
<section ng-app="appType" ng-controller="ctrlType as vm">
    <header>
        <h4>Tipo de Empleados</h4>
    </header>
    <article class="card-panel">
        <div class="card">
            <div class="card-action right-align">
                <button type="button" class="btn green grey-text text-darken-3" ng-click="vm.showNew()">
                    <i class="fa fa-plus"></i>
                    <span class="hide-on-small-only">AGREGAR</span>
                </button>
            </div>
        </div>
        <table class="table responsible-table highlight hovered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% verbatim %}
                <tr ng-repeat="x in vm.ltypes">
                    <td>{{$index + 1}}</td>
                    <td>{{x.fields.description}}</td>
                    <td>
                        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!">one</a></li>
                            <li><a href="#!">two</a></li>
                            <li class="divider"></li>
                            <li><a href="#!">three</a></li>
                        </ul>
                    </td>
                </tr>
            {% endverbatim %}
            </tbody>
        </table>
    </article>
    <!-- modals -->
    <div id="mtypes" class="modal">
        <div class="modal-content">
            <h4>TIPO DE EMPLEADO</h4>
            <div class="row">
                <div class="input-field col l12 m12 s12">
                    <input type="text" ng-model="vm.types.desc">
                    <label for="">Descripción</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn blue">
                <i class="fa fa-floppy-o"></i>
                <span class="hide-on-small-only">Guardar</span>
            </button>
            <button type="button" class="btn grey lighten-5 grey-text text-darken-3">
                <i class="fa fa-times"></i>
                <span class="hide-on-small-only">Salir</span>
            </button>
        </div>
    </div>
</section>
<!-- scripts -->
<script defer src="{{ MEDIA_URL }}vendor/angularjs/angular.min.js"></script>
<script defer src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script defer src="{{ MEDIA_URL }}js/rrhh/typeemployee.js"></script>
{% endblock content %}