{% extends "basemd.html" %}
{% block title %}
    Tipo de empleado
{% endblock title %}
{% block menu %}
    {% include "menus/salesmd.html" %}
{% endblock menu %}
{% block content %}
<section ng-app="appType" ng-controller="ctrlType as vm">
    <header>
        <h4>Tipo de Empleados</h4>
    </header>
    <article class="card-panel">
        <div class="card">
            <div class="card-action right-align">
                <button type="button" class="btn green grey-text text-darken-3" ng-click="vm.showNew()">
                    <i class="fa fa-plus"></i>
                    <span class="hide-on-small-only">AGREGAR</span>
                </button>
            </div>
        </div>
        <table class="table responsible-table highlight hovered">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Descripción</th>
                    <th><a href="#!refresh" ng-click="vm.getTypes()"><i class="fa fa-refresh"></i></a></th>
                </tr>
            </thead>
            <tbody>
            {% verbatim %}
                <tr ng-repeat="x in vm.ltypes">
                    <td>{{$index + 1}}</td>
                    <td>{{x.pk}}</td>
                    <td>{{x.fields.description}}</td>
                    <td>
                        <a class="waves-effect waves-light dropdown-button dropdown-activates grey-text text-darken-2" href="#!">
                            <i class="fa fa-cog"></i></a>
                        <!-- Dropdown Structure -->
                        <ul id="dropdown{{$index}}" class='dropdown-content'>
                            <li><a ng-click="vm.showModify(x)" class="grey-text text-darken-2">
                                <i class="fa fa-pencil-square blue-text"></i> Modificar</a></li>
                            <li class="divider"></li>
                            <li><a href="#!" class="grey-text text-darken-2" ng-click="vm.deleteType(x)">
                                <i class="fa fa-trash red-text"></i> Eliminar</a></li>
                        </ul>
                    </td>
                </tr>
            {% endverbatim %}
            </tbody>
        </table>
    </article>
    <!-- modals -->
    <div id="mtypes" class="modal">
        <div class="modal-content">
            <h4>TIPO DE EMPLEADO</h4>
            <div class="row">
                <div class="input-field col l12 m12 s12">
                    <input type="text" id="desc" ng-model="vm.types.desc">
                    <label for="desc" ng-class="{'active': vm.types['desc'] != ''}">Descripción</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="waves-effect waves-light btn blue" ng-click="vm.saveType()" ng-disabled="processsave">
                <i class="fa fa-floppy-o"></i>
                <span class="hide-on-small-only">Guardar</span>
            </button>
            <button type="button" class="modal-action modal-close btn grey lighten-5 grey-text text-darken-3" ng-disabled="processsave">
                <i class="fa fa-times"></i>
                <span class="hide-on-small-only">Salir</span>
            </button>
        </div>
    </div>
</section>
<!-- scripts -->
<script defer src="{{ MEDIA_URL }}vendor/angularjs/angular.min.js"></script>
<script defer src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script defer src="{{ MEDIA_URL }}js/rrhh/typeemployee.js"></script>
{% endblock content %}