{% extends "basemd.html" %}
{% block title %}
    View Assistance
{% endblock title %}
{% block menu %}
    {% include "menus/rrhhmd.html" %}
{% endblock menu %}
{% block content %}
<section ng-app="assApp" ng-controller="assCtrl as vm">
    <header>
        <h4>
            Vista de Asistencia Semanal
            <button type="button" class="right btn" ng-click="vm.getAssistance()">
                <small>Filtrar</small>
            </button>
        </h4>
        <div class="card">
            <div class="card-action">
                <div class="row">
                    <div class="input-field col l2 m2 s12">
                        <input type="text" class="datepick" placeholder="yyyy-mm-dd" maxlength="10" ng-model="vm.search.fi" ng-change="vm.changerange()" readonly>
                        <label for="">Fecha de Inicio</label>
                    </div>
                    <div class="input-field col l2 m2 s12">
                        <input type="text" class="datepickt" placeholder="yyyy-mm-dd" maxlength="10" ng-model="vm.search.ff" readonly>
                        <label for="">Fecha de Fin</label>
                    </div>
                    <div class="input-field col l2 m3 s12">
                        <select class="make_select" ng-model="vm.search.types" ng-options="x.pk as x.fields.descripcion for x in vm.ltypes">
                            <option value="">--TODOS--</option>
                        </select>
                        <label for="">Tipo personal</label>
                    </div>
                    <div class="input-field col l6 m5 s12">
                        <input type="text" ng-model="vm.search.text">
                        <label for="">Filtar</label>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        {% verbatim %}
        <table class="table responsive-table striped hovered highlight">
            <thead>
                <th>#</th>
                <th ng-click="vm.order='dni'">DNI</th>
                <th ng-click="vm.order='name'">Nombres</th>
                <th ng-repeat="n in vm.dnames" class="center-align">{{ n.nmt }} <br />{{n.nm}}</th>
                <th>TOTAL <br />HORAS</th>
                <th>TOTAL <br />EXTRAS</th>
                <th>T.OTROS<br /> GASTOS</th>
                <th>TOTAL <br />DESCUENTO</th>
            </thead>
            <tbody>
            <tr ng-repeat="x in vm.bdata | filter : vm.search.text | orderBy: vm.order">
                <td>{{$index+1}}</td>
                <td><b><small>{{x.dni}}</small></b></td>
                <td><small>{{x.name}}</small></td>
                <td ng-repeat="n in vm.dnames" ng-class="{'red lighten-3 center-align': x['days'][n.nmo]['day'] == null}">
                    <small ng-if="(x['days'][n.nmo]['hour'] != null)">
                    <a href="#" ng-click="vm.showEdit(x, n)">
                        <i class="fa fa-circle bordered-icon icon-round fa-2x right" ng-class="{'yellow-text text-lighten-1': x['days'][n.nmo]['hour'] < vm.settings.tth, 
                        'green-text text-lighten-1': x['days'][n.nmo]['hour'] >= vm.settings.tth}"></i>
                    </a>
                    <br>
                    Hora: {{x['days'][n.nmo]['hour']}} <br>
                    Tardanza: {{x['days'][n.nmo]['delay']}} <br>
                    Debe h: {{x['days'][n.nmo]['lack']}} <br>
                    H. Extra: {{x['days'][n.nmo]['extra']}}</small>
                    <small ng-if="x['days'][n.nmo]['day'] == null">
                        <a href="#" ng-click="vm.showEdit(x, n)"><i class="fa fa-circle bordered-icon icon-round fa-2x right red-text text-lighten-2"></i></a>
                        No Registrado</small>
                </td>
                <td class="right-align">{{x.twork}}</td>
                <td class="right-align">{{x.textra}}</td>
                <td class="right-align">{{x.viatical}}</td>
                <td class="right-align">{{x.discount}}</td>
            </tr>
        </tbody>
        </table>
        {% endverbatim %}
    </article>
    <!-- modals  show list assistance saved-->
    {% verbatim %}
    <div class="modal width-80" id="medit">
        <div class="modal-content">
            <h4>{{vm.showlist.dni}} {{vm.showlist.name}} / {{vm.showlist['date']}}</h4>
            <table class="striped hovered responsive-table highlight">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ingreso</th>
                        <th>Inicio Break</th>
                        <th>Fin Break</th>
                        <th>Salida</th>
                        <th>Proyecto</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Viaticos</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in vm.hoursload">
                        <td>{{$index+1}}</td>
                        <td>{{x.fields.hourin}}</td>
                        <td>{{x.fields.hourinbreak}}</td>
                        <td>{{x.fields.houroutbreak}}</td>
                        <td>{{x.fields.hourout}}</td>
                        <td>{{x.fields.project.pk}}</td>
                        <td>{{x.fields.types.fields.description}}</td>
                        <td>{{x.fields.status.fields.description}}</td>
                        <td class="right-align">{{x.fields.viatical}}</td>
                        <td>
                            <a href="#!edit" class="grey-text text-darken-3" ng-click="vm.openControls(x)">
                                <i class="fa fa-pencil fa-lg"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#!remove" class="red-text" ng-click="vm.deleteAssistance(x)">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="vm.openControls()" class="waves-effect waves-ligth btn green lighten-1 grey-text text-darken-3">
                <i class="fa fa-plus"></i>
                <span>AGREGAR</span>
            </button>
            <button type="button" class="waves-effect waves-ligth modal-action modal-close btn grey lighten-5 grey-text text-darken-3 left">
                <i class="fa fa-times"></i>
                <span>SALIR</span>
            </button>
        </div>
    </div>
    <!-- modals form controls  -->
    <div class="modal modal-fixed-footer height-80" id="mcontrols">
        <div class="modal-content">
            <h5>Datos de Asistencia</h5>
            <div class="row">
                <div class="col l12 m12 s12">
                    <label for="project">Proyecto</label>
                    <select class="browser-default chosen-select" name="project" id="project" ng-model="vm.assistance.project" ng-options="x.pk as (x.pk + ' ' +x.fields.nompro) for x in vm.projects">
                        <option value="">-- NINGUNO --</option>
                    </select>
                    <a href="#!refresh" class="right" ng-click="vm.getProjects()"><i class="fa fa-refresh"></i></a>
                </div>
                <div class="col l12 m12 s12">
                <label for="types">Tipo de Asistencia</label>
                    <select class="browser-default" id="types" ng-model="vm.assistance.type" ng-options="x.pk as x.fields.description for x in vm.rltypes" readonly="True">
                        <option value="">-- SELECCIONE OBLIGATORIO --</option>
                    </select>
                    <a href="#!refresh" class="right" ng-click="vm.getrltypes()"><i class="fa fa-refresh"></i></a>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input type="text" maxlength="5" formattime ng-model="vm.assistance.hin" placeholder="00:00" id="hin">
                    <label for="hin">Hora Entrada</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input type="text" maxlength="5" formattime ng-model="vm.assistance.hinb" placeholder="00:00" id="hinbr">
                    <label for="hinbr">Inicio Receso</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input type="text" maxlength="5" formattime ng-model="vm.assistance.houtb" placeholder="00:00" id="houtbr">
                    <label for="houtbr">Fin Receso</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input type="text" maxlength="5" formattime ng-model="vm.assistance.hout" placeholder="00:00" id="hout">
                    <label for="hout">Hora Salida</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input type="text" id="today" class="datepicker" maxlength="10" placeholder="aaaa-mm-dd" ng-model="vm.assistance.date" readonly="True">
                    <label for="today">Fecha</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input type="number" min="0" class="right-align" placeholder="0" ng-model="vm.assistance.viatical" valminandmax>
                    <label for="">Viaticos</label>
                </div>
                <hr>
                <div class="input-field col l6 m6 s12">
                    <input type="number" min="0" class="right-align" placeholder="0" ng-model="vm.assistance.discount" valminandmax>
                    <label for="">DESCUENTOS POR DIA</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="buttom" class="waves-effect waves-light btn blue" ng-click="vm.saveAssistance()">
                <i class="fa fa-floppy-o"></i>
                <span>GUARDAR</span>
            </button>
            <button type="buttom" class="modal-action modal-close waves-effect waves-light btn grey lighten-5 grey-text text-darken-3 left">
                <i class="fa fa-ban"></i>
                <span>CANCELAR</span>
            </button>
        </div>
    </div>
    {% endverbatim %}
</section>
<!-- scripts -->
<script defer src="{{ MEDIA_URL }}vendor/angularjs/angular.min.js"></script>
<script defer src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script defer src="{{ MEDIA_URL }}js/rrhh/viewassistance.js"></script>
{% endblock content %}