{% extends "basemd.html" %}

{% block title %}
  Devolucion
{% endblock %}
{% block menu %}
  {% include "menus/storagemd.htm" %}
{% endblock %}
{% block content %}
<script src="/media/js/almacen/guiaherramienta.js"></script>
<link rel="stylesheet" href="/media/css/almacen/guia.css">
<div>
      <h4 align="center">Documentos de Devolucion</h4>
      <div class="card" style="width:95%;margin-left:20px;">
        <div class="card-action">
          <div class="input-field col s12">
            <i class="prefix fa fa-search"></i>
            <input class="txtbuscardoc" style="width:90%;" type="search" placeholder="Buscar Documento" name="txtbuscardoc" id="txtbuscardoc" >
          </div>
        </div>
      </div>
    <table class="tabla-listdev" id="tabla-listdev">
        <thead class="cab">
          <tr>
            <th class="colnum">#</th>
            <th>N° Doc</th>
            <th>Guia</th>
            <th>Transporte</th>
            <th>F.Retorno</th>
            <th>Conductor</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="fbody" class="bodydetlistdev">
          {% for x in listadocdev %}
          <tr class="fer">
            <td class="colnum">{{ forloop.counter }}</td>
            <td>{{ x.docdev.docdev_id }}</td>
            <td>{{ x.guia_id }}</td>
            <td>{{ x.docdev.traruc.tranom }}</td>
            <td>{{ x.docdev.fechretorno }}</td>
            <td>{{ x.docdev.condni.connom }}</td>
            <td>
            <button type="button" style="border:none;font-weight:bold;" class="transparent btnviewdocdevpdf" id="" value="{{ x.docdev_id }}"><i class="fa fa-file-pdf-o"></i></button>
            <button type="button" style="border:none;font-weight:bold;" class="transparent viewherradocdev" id="" value="{{ x.docdev_id }}"><i class="fa fa-briefcase"></i></button></td>
          </tr>
          {% endfor %}
          </tbody>
    </table>
</div>

{% csrf_token %}
{% include "almacen/form/listherraguiadev.html" %}
{% endblock %}
