{% extends "basemd.html" %}

{% block title %}
  Guias Completas
{% endblock %}
{% block menu %}
  {% include "menus/storagemd.htm" %}
{% endblock %}
{% block content %}
<script src="/media/js/almacen/guiaherramienta.js"></script>
<link rel="stylesheet" href="/media/css/almacen/guia.css">
<script src="{{ MEDIA_URL }}vendor/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}vendor/chosen/chosen.css">

<div class="row" style="margin:20px">
  <div class="input-field col" id="divtipoacce">
    <div class="panel-group">
      <div class="panel" style="margin-left:20px;margin-right:20px;">
        <div class="panel-heading" style="">
          <h5 class="panel-title">Guias con Devolucion Completa</h5>
        </div>
          <div class="panel-body" style="margin-top:-15px">
            <input onclick="javascript:switchgeneral();" name="estacce" type="radio" id="switchhe"/>
            <label for="switchhe" id="switchhe" style="font-size:15px;font-weight:bold;color:black;">HERRAMIENTA</label>
            <input onclick="javascript:switchgeneral();" name="estacce" type="radio" id="switchepps"/>
            <label for="switchepps" id="switchepps" style="font-size:15px;font-weight:bold;color:black;">EPPS</label>
          </div>

      </div>
    </div>
  </div>
</div>
<div align="center">
  <h4 class="lbltipoacce"></h4>
</div>
<div style="display:none" style="margin:20px" id="divdevolucion">
    <div class="card">
      <div class="card-action">
        <div class="input-field col s12">
          <i class="prefix fa fa-search"></i>
          <input class="txtbuscardoc" style="width:90%;" type="search" placeholder="Buscar Documento" name="txtbuscardoc" id="txtbuscardoc" >
        </div>
      </div>
    </div>

    <table class="table table-condensed responsive-table highlight tabla-guiaco" id="tabla-guiaco">
      <thead class="cab">
        <tr>
          <th class="colst40">#</th>
          <th >Proyecto</th>
          <th class="colst150">Guia</th>
          <th class="colst150">F.Salida</th>
          <th >Supervisor</th>
          <th class="colst150">Acciones</th>
        </tr>
      </thead>
      <tbody></tbody>
      <!--
        {% for x in lguiaco %}
        <tr class="{{ x.proyecto_id }}">
          <td class="colst40">{{ forloop.counter }}</td>
          <td ><strong>{{ x.proyecto_id }}</strong>  {{ x.proyecto.nompro }}</td>
          <td class="colst150">{{ x.guia_id }}</td>
          <td class="colst150">{{ x.fechsalida | date:'d-m-Y' }}</td>
          <td >{{ x.proyecto.empdni.lastname }} {{ x.proyecto.empdni.firstname }}</td>
          <td class="colst150">
            <button type="button" style="border:none;font-size:20px;" class="transparent btnviewguiacopdf" id="btnguiaco" value="{{ x.guia_id }}"><i class="fa fa-file-pdf-o"></i></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>  -->
    </table>
</div>
<!--utils -->
<input type="hidden" name="hreport" value="{{ hreport }}">
<input type="hidden" name="ruc" value="{{ ruc }}">
{% csrf_token %}
{% include "almacen/form/listherraguiadev.html" %}
{% endblock %}
