{% extends "basemd.html" %}

{% block title %}
  Devolucion de Material
{% endblock %}
{% block menu %}
  {% include "menus/storagemd.htm" %}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ MEDIA_URL }}vendor/chosen/chosen.css">
<script src="{{ MEDIA_URL }}vendor/chosen/chosen.jquery.js"></script>
<script src="/media/js/almacen/devmaterial.js"></script>
<link rel="stylesheet" href="/media/css/almacen/devmaterial.css">

<script src="{{ MEDIA_URL }}js/floatThead.js"></script>

<div style="margin:30px">
	<h4 align="center">Devolucion de Material con Guia</h4>
	<div class="card" id="divsearchguia">
		<div class="card-action">
		  <div class="input-field col s12">
		  	<i class="prefix fa fa-sign-in"></i>
		    <input class="txtbuscarguia" style="width:90%;" type="text" placeholder="Ingresar Numero de Guia" name="txtbuscarguia" id="txtbuscarguia" >
		  </div>
		</div>
	</div>

	<div class="row" style="width:100%;float:left">
		<div class="input-field" style="width:30%;float:left">
			<input checked="true" onclick="javascript:viewestguiamatdev();" name="estguiamatdev" type="radio" id="radiope" value="PE" />
		    <label for="radiope" style="font-size:15px;font-weight:bold;color:black;">Pendiente</label>
		    <input onclick="javascript:viewestguiamatdev();" name="estguiamatdev" type="radio" id="radioge" value="PE"/>
		    <label for="radioge" style="font-size:15px;font-weight:bold;color:black;">Generada</label>
		</div>
		<div class="input-field" style="width:70%;float:left">
			<i class="prefix fa fa-search"></i>
		    <input class="txtbuscguiatable" style="width:90%;" type="text" placeholder="Buscar Guia" name="txtbuscguiatable" id="txtbuscguiatable" >
		</div>

	</div>
	<hr>

	<div id="divtabledevpe">
		<table id="table-guiadevpe" class="table responsive-table table-condensed highlight table-guiadevpe">
			<h5 align="center"><strong>PENDIENTE</strong></h5>
			<thead class="cab">
				<tr>
					<th class="colst40">#</th>
					<th class="colst200">Guia Dev</th>
					<th >Proyecto</th>
					<th >Autorizado por:</th>
					<th class="colst150">F.Registro</th>
					<th class="colst150">F.Devolucion</th>
					<th class="colst150">Acciones</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	<div id="divtabledevge" style="display:none;">
		<table id="table-guiadevge" class="table responsive-table table-condensed highlight table-guiadevge">
			<h5 align="center"><strong>GENERADA</strong></h5>
			<thead class="cab">
				<tr>
					<th class="colst40">#</th>
					<th class="colst200">Guia Dev</th>
					<th >Proyecto</th>
					<th >Autorizado por:</th>
					<th class="colst150">F.Registro</th>
					<th class="colst150">F.Devolucion</th>
					<th class="colst150">Acciones</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>


{% csrf_token %}
{% include "almacen/formguiadevmat/listmaterial.html" %}
{% include "almacen/formguiadevmat/editguiadevmat.html" %}
{% include "almacen/formguiadevmat/formeditmat.html" %}
{% endblock %}