{% extends "basemd.html" %}
{% block title %}
  Guia Remision
{% endblock %}
{% block menu %}
  {% include "menus/storagemd.htm" %}
{% endblock %}
{% block content %}
<script src="/media/js/almacen/guiaherramienta.js"></script>
<script src="{{ MEDIA_URL }}vendor/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}vendor/chosen/chosen.css">
<link rel="stylesheet" href="/media/css/almacen/guia.css">

<div style="margin:20px">
  <div class="input-field col" id="divtipoacce">
    <div class="panel-group">
      <div class="panel" style="margin-left:20px;margin-right:20px;">
        <div class="panel-heading" style="">
          <h4 class="panel-title">Guias de Remision</h4>
        </div>

          <div class="panel-body" style="margin-top:-15px">
            <input onclick="javascript:switchgeneral();" name="estacce" type="radio" id="switchhe"/>
            <label for="switchhe" id="switchhe" style="font-size:15px;font-weight:bold;color:black;">HERRAMIENTA</label>
            <input onclick="javascript:switchgeneral();" name="estacce" type="radio" id="switchepps"/>
            <label for="switchepps" id="switchepps" style="font-size:15px;font-weight:bold;color:black;">EPPS</label>
          </div>

      </div>
    </div>
  </div>
</div>

<div style="display:none" id="divguia">
<div class="row">
  <div class="input-field col s4">
    <div class="btnaddguia">
    <button style="width:350px" type="button" name="btnopennewguia" data-herra="btnnewguia" class="btn waves-effect teal lighten-1 btnopennewguia">
      <i class="fa fa-file"></i>
      <span><strong>GENERAR GUIA DE <strong class="lbltipoacce"></strong></strong></span>
    </button>
    </div>
  </div>
  <div class="input-field col s7">
    <div class="divbuscarguia">
      <i class="prefix fa fa-search"></i>
      <input class="txtbuscarguia" style="width:90%;" type="search" placeholder="Buscar Guia o Codigo de Proyecto" name="txtbuscarguia" id="txtbuscarguia" >
    </div>
  </div>
</div>
    <div class="card" style="margin-left:1.5%;width:98%;">
      <div class="card-action" style="height:100px;">
        <div class="row">
          <div class="input-field col s3" style="width:25%;">
            <input checked="true" onclick="javascript:viewestguia();" name="estguia" type="radio" id="radiope" value="PE" class="rexamen" />
            <label for="radiope" style="font-size:15px;font-weight:bold;color:black;">Pendiente</label>
            <input onclick="javascript:viewestguia();" name="estguia" type="radio" id="radioge" value="PE"/>
            <label for="radioge" style="font-size:15px;font-weight:bold;color:black;">Generada</label>

            <input onclick="javascript:viewestguia();" name="estguia" type="radio" id="radioco" value="PE"/>
            <label for="radioco" style="font-size:15px;font-weight:bold;color:black;">Devoluciones</label>
          </div>

          <div class="input-field col s4" style="margin-left:3%;margin-top:25px;">
              <select id="cboproyectos" class="browser-default searchInput">
              </select>
          </div>
          <div class="input-field col s1.5" style="width:12%;">
            <input class="fecha fechinicial" type="text" placeholder=""/>
            <label for="fechinicial">Fecha Inicial</label>
          </div>
          <div class="input-field col s1.5" style="width:12%;">
            <input class="fecha fechfinal" type="text" placeholder="">
            <label for="fechfinal">Fecha Final</label>
          </div>
          <div class="input-field col">
            <button type="button" class="transparent btnfiltxfech" style="border:none;font-size:20px;;"><a style="color:#039be5"><i class="fa fa-search"></i></a></button>
          </div>
        </div>
      </div>
     </div>

<!--GUIA PENDIENTE-->
  <div id="divtableguiape">
    <table class="table responsive-table table-condensed highlight tabla-guia" id="tabla-guia" style="margin-bottom:50px;">
    <h4 style="margin-left:20px;">Guias Pendientes</h4>
        <thead class="cab">
          <tr>
            <th class="colst40">#</th>
            <th >Proyecto</th>
            <th class="colst150">Guia</th>
            <th >Supervisor</th>
            <th class="colst150">F.Salida</th>
            <th class="colst150">Acciones</th>
          </tr>
        </thead>
        <tbody></tbody>
    </table>
  </div>

  <!--Guias Generadas-->
  <div id="divtableguiagene" style="display:none;">
    <table class="table responsive-table highlight table-condensed tabla-guiagene" id="tabla-guiagene" style="margin-bottom:50px;">
      <h4 style="margin-left:20px;">Guias Generadas</h4>
        <thead class="cab">
          <tr>
            <th class="colst40">#</th>
            <th >Proyecto</th>
            <th class="colst150">Guia</th>
            <th >Supervisor</th>
            <th class="colst150">F.Salida</th>
            <th class="colst150">Acciones</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
    </table>
  </div>

  <!--Documentos de devolucion-->
  <div id="divtablelistdev" style="display:none">
    <table class="table responsive-table highlight table-condensed tabla-listdev" id="tabla-listdev" style="margin-bottom:50px;">
        <h4 style="margin-left:20px;">Guias de Devolucion</h4>
        <thead class="cab">
          <tr>
            <th class="colst40">#</th>
            <th class="colst150">N° Doc</th>
            <th class="colst150">Guia</th>
            <th >Transporte</th>
            <th class="colst150">F.Retorno</th>
            <th>Conductor</th>
            <th class="colst150"></th>
          </tr>
        </thead>
        <tbody></tbody>
    </table>
  </div>
</div>

{% csrf_token %}
{% include "almacen/form/newguia.html" %}
{% include "almacen/form/newherramientaguia.html" %}
{% include "almacen/form/listherraguia.html" %}
{% include "almacen/form/detguiagen.html" %}
{% include "almacen/form/newguiadevolucion.html" %}
{% include "almacen/form/newherraguiadev.html" %}
{% include "almacen/form/editguia.html" %}
{% include "almacen/form/editguiage.html" %}
{% include "almacen/form/editherraguia.html" %}
{% include "almacen/form/listherraguiadev.html" %}

{% endblock %}
