{% extends "basemd.html" %}
{% block title %}
  Inventario
{% endblock %}
{% block menu %}
  {% include "menus/almherramd.html" %}
{% endblock %}
{% block content %}
<script src="{{ MEDIA_URL }}vendor/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}vendor/chosen/chosen.css">
<script src="/media/js/almacen/guiaherramienta.js"></script>
<link rel="stylesheet" href="/media/css/almacen/guiaherramienta.css">
<div>
<h5 align="center">INGRESO DE STOCK DE HERRAMIENTAS</h5>
  <div class="card" style="margin-left:70px;width:90%;">
    <div class="action-card">
      <div class="row">
        <div class="input-field col s12 divbuscar">
          <i class="prefix fa fa-search"></i>
           <input class="txtbuscar" style="width:85%;" align="center" type="search" placeholder="Buscar Herramienta" name="txtbuscarherramienta" id="txtbuscarherramienta" >
        </div>
      </div>
    </div>
  </div>

  <div class="card cardherra" style="background-color:#f0f4c3;margin-left:70px; width:90%;display:none;">
    <div class="action-card">
      <div class="row">
      <div class="input-field col s2">
          <input style="text-align:center;" placeholder="" id="hercod" name="hercod" type="text" class="hercod" readonly>
          <label for="hercod" >Codigo</label>
      </div>
      <div class="input-field col s6">
          <input placeholder=""  type="text" class="herstock" readonly>
          <label for="herstock" >Herramienta</label>
      </div>
      <div class="input-field col s2">
        <input placeholder="" id="ingcant" name="ingcant" type="text" class="ingcant">
        <label for="ingcant" >Ingresar Cantidad</label>
      </div>
      <div class="input-field col s2">
          <input placeholder="" id="ingprice" name="ingprice" type="text" class="ingprice">
          <label for="ingprice" >Ingresar Precio</label>
      </div>
        <div class="input-field col s2">
          <button type="button" id="btnaddstock" name="btnaddstock" class="btn waves-effect grey btnaddstock">
            <i class="fa fa-check-square-o"></i>
            <span><strong>Agregar</strong></span>
          </button>
        </div>
      </div>
    </div>
  </div>

    <table class="tabla-invent" id="tabla-invent">

        <thead>
          <tr>
            <th class="titnum">#</th>
            <th class="titcodinvent">Codigo</th>
            <th class="titherra">Herramienta</th>
            <th class="titmarca">Marca</th>
            <th class="titstock">Stock</th>
            <th class="center-align">Precio</th>
            <th class="titaddstock"></th>

          </tr>
        </thead>
        <tbody id="fbody" class="bodydetailinvent">
          {% for x in linvent %}
          <tr class="fer">
            <td class="titnum">{{ forloop.counter }}</td>
            <td class="titcodinvent">{{ x.herramienta_id }}</td>
            <td class="titherra">{{ x.herramienta.nombre }} {{ x.herramienta.medida }}</td>
            <td class="titmarca">{{ x.herramienta.marca.brand }}</td>
            <td class="titstock">{{ x.cantalmacen }}</td>
            <td class="right-align">
              {{ x.price }}
            </td>
            <td class="titaddstock">
              <button value="{{ x.herramienta_id }}" data-herrastock="{{ x.herramienta.nombre }} - {{ x.herramienta.medida }} - {{ x.herramienta.marca.brand }}" type="button" class="transparent btnviewdivstock" style="border:none;"><i class="fa fa-plus-square"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
          </tbody>
    </table>
</div>

{% csrf_token %}
{% include "almacen/form/newherramienta.html" %}
{% endblock %}
