{% extends "basemd.html" %}
{% block title %}
    Forma de Pago
{% endblock title %}
{% block menu %}
    {% include "menus/cruds_menu.html" %}
{% endblock menu %}
{% block content %}
    <div class="container">
        <div class="well">
            <h3>Forma de Pago</h3>
            <form method="post" role="form">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="{% url 'formpago_list' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Ver Tipos
                </a>
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-saved"></span>
                    Guardar Cambios
                </button>
            </form>
        </div>
    </div>
{% endblock content %}