{% extends "basemd.html" %}
{% block title %}GG [{{pro}}] - Project{% endblock %}
{% block menu %}
    {% include "menus/salesmd.html" %}
{% endblock menu%}
{% block content %}
<section ng-app="gexpensesApp" ng-controller="gexpensesCtrl as vm">
    <aside class="card-panel">
        <button type="button" class="right btn waves-effect grey lighten-5 grey-text text-darken-3" ng-click="vm.pshow=true;vm.modify=false;">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
        <header>
            <h5>Otros Gastos {{ pro }}</h5>
        </header>
        <a href="#!" class="right black-text" ng-model="vm.pshow" ng-init="vm.pshow=false" ng-click="vm.pshow=!vm.pshow">
            <i class="fa" ng-class="{'fa-times': vm.pshow, 'fa-chevron-down': !vm.pshow}"></i>
        </a>
        <div class="row" ng-show="vm.pshow">
            <div class="input-field col m3">
                <select name="itemizer" id="itemizer" ng-model="vm.gexpenses.itermizer">
                    <option value="">-- Ninguno --</option>
                    {% verbatim %}
                    <option value="{{x.pk}}" ng-repeat="x in vm.itemizers">{{x.fields.name}}</option>
                    {% endverbatim %}
                </select>
                <label for="itemizer">Gastos</label>
            </div>
            <div class="input-field col m3">
                <input type="number" id="amount" step="0.10" class="right-align" ng-model="vm.gexpenses.amount">
                <label for="amount">Monto</label>
            </div>
            <div class="input-field col m3">
                <select name="currency" id="currency" ng-model="vm.gexpenses.currency" ng-options="x.pk as x.fields.moneda for x in vm.currencies">
                    <option value="">-- Ninguno --</option>
                </select>
                <label for="currency">Moneda</label>
            </div>
            <div class="col m3">
                <button type="button" class="btn waves-effect waves-light" ng-click="vm.saveExpenses()">
                    <i class="fa fa-floppy-o"></i>
                    <span class="hide-on-small-only">Guardar</span>
                </button>
            </div>
        </div>
    </aside>
    <article class="card-panel">
        <h5>Lista de Gastos</h5>
        <table>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </article>
    {% verbatim %}
        <!-- {{ vm.itemizers }} -->
    {% endverbatim %}
</section>
<!-- scripts -->
<script src="{{ MEDIA_URL }}vendor/angular/angular.min.js"></script>
<script src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script defer src="{{ MEDIA_URL }}js/sales/gexpenses.bundle.js"></script>
{% endblock content %}