{% extends "basemd.html" %}
{% block title %}
  Servicios
{% endblock title %}
{% block menu %}
    {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
        {% include "menus/salesmd.html" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'logistica' %}
        {% include "menus/logisticsmd.htm" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'operaciones' %}
        {% include "menus/operations.htm" %}
    {% endif %}
    {% if user.get_profile.empdni.charge.area|lower == 'almacen' %}
        {% include "menus/storage_menu.htm" %}
    {% endif %}
{% endblock menu %}
{% block content %}
<section ng-app="app" ng-controller="controller as vm">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <h5>
            Servicios de Proyecto: {{ pro.nompro }}
            <br>
            <small>Moneda {{ pro.currency.moneda }}</small>
          </h5>
          {% if user.get_profile.empdni.charge.area|lower == 'ventas' or user.get_profile.empdni.charge.area|lower == 'administrator' %}
            <div class="card-action">
              <a href="{% url 'oservicenew_view' %}" class="btn light-blue">
                  <i class="fa fa-plus"></i>
                  <span class="hide-on-small-only">Nueva Orden</span>
              </a>
              <button type="button" data-target="mitemizer" class="waves-effect waves-light btn gray lighten-5 grat-text text-darken-3">
                <i class="fa fa-plus-circle"></i>
                <span class="hide-on-small-only">Agregar Partida</span>
              </button>
              <!-- <button type="button" class="right waves-effect waves-light btn light-green" data-target="mservices">
                <i class="fa fa-usd"></i>
                <span class="hide-on-small-only">Monto Servicios</span>
              </button> -->
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% verbatim %}
    <div class="col s12 m6 l6">
      <ul class="collapsible" data-collapsible="accordion">
        <li ng-repeat="x in vm.itemizers">
          <div class="collapsible-header">
            <i class="fa fa-files-o"></i>
            <span>{{x.fields.name}}</span>
            <span class="badge">
              <a href="#edit" class="light-green-text text-16">
                <span class="fa fa-edit"></span>
                &nbsp;
              </a>
              <a href="#del" class="red-text text-16">
                <span class="fa fa-trash"></span>
              </a>
            </span>
          </div>
          <div class="collapsible-body">
            <p>
              <strong>Compra:</strong> {{ x.fields.purchase }} <strong>Venta:</strong> {{ x.fields.sales }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    {% endverbatim %}
    <div class="col s12 m6 l6">
      <div class="card-panel">
          <table class="table responsive-table">
            <tbody>
              <tr>
                <th><h5>Asignado</h5></th>
                <td class="right-align"><h5>{{ pro.aservices|floatformat:"2" }}</h5></td>
              </tr>
              <tr>
                <th><h5>Gastado</h5></th>
                <th class="right-align"><h5>{{ total|floatformat:"2" }}</h5></th>
              </tr>
              <tr>
                <td colspan="2"><div class="divider"></div></td>
              </tr>
              <tr>
                <th><h5>Total</h5></th>
                <td class="right-align"><h5>{{ diff|floatformat:"2" }}</h5></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="modal col l4 m12 s12 offset-l4" id="mitemizer">
      <div class="modal-content">
        <h5>
          Partida de Servicio <br>
          <small>Moneda {{ pro.currency.moneda }}</small>
        </h5>
        <div class="input-field">
          <input type="text" id="itemname" ng-model="vm.itemizer.name">
          <label for="itemname">Nombre</label>
        </div>
        <div class="input-field">
          <input type="number" class="right-align" name="itempurchase" step="0.10" min="0" ng-model="vm.itemizer.purchase" ng-init="vm.itemizer.purchase=0" ng-change="vm.setItemizerSalesAmount()">
          <label for="itempurchase">Valor de Compra</label>
        </div>
        <div class="input-field">
          <input type="number" class="right-align" name="itemsales" step="0.10" min="0" ng-model="vm.itemizer.sales" ng-value="vm.itemizer.sales">
          <label for="itemsales">Valor de Venta</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="waves-effect waves-light btn light-blue" ng-click="vm.saveItemizer()">
          <i class="fa fa-floppy-o"></i>
          <span class="hide-on-small-only"><small>Guardar</small></span>
        </button>
        <button type="button" class="modal-action modal-close waves-effect waves-light btn grey lighten-5 grey-text text-darken-3">
          <i class="fa fa-times"></i>
          <span class="hide-on-small-only"><small>Salir</small></span>
        </button>
      </div>
    </div>
    <!-- block modal assign amount total for project -->
    <div class="modal col l4 offset-l4" id="mservices">
      <form method="post" action="">
      <div class="modal-content">
        {% csrf_token %}
        <h5>Monto de Servicios</h5>
        <div class="input-field">
          <input type="number" id="aservices" name="aservices" step="0.01" class="validate">
          <label for="aservices">Monto</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="saservices" value="true" class="btn light-blue grey-text text-darken-3">
          <i class="fa fa-check"></i>
          <small>Guardar</small>
        </button>
        <button type="reset" class="modal-action modal-close btn grey lighten-5 grey-text text-darken-3 waves-effect">
          <i class="fa fa-times"></i>
          <small>Cancelar</small>
        </button>
      </div>
      </form>
    </div>
    <!-- endblock-->
  </div>
</section>
<script defer src="{{ MEDIA_URL }}vendor/angular/angular.min.js"></script>
<script defer src="{{ MEDIA_URL }}vendor/angular-cookies/angular-cookies.min.js"></script>
<script defer src="{{ MEDIA_URL }}js/sales/costproject.js"></script>
<!--<script type="text/javascript">
  $('.modal').modal();
</script>-->
{% endblock content %}